/* src/components/BlogCard.css */
.blog-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 10px;
    padding: 20px;
    width: 100%;
  }
  
  .blog-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .blog-details {
    margin-top: 10px;
  }
  
  .blog-card.big {
    grid-column: span 2;
  }
  
  .blog-card.small {
    grid-column: span 1;
  }
  