/* src/components/BlogList.css */
.first-section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  
  .big-column, .small-column {
    display: flex;
    flex-direction: column;
  }
  
  .other-blogs {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  