header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header-section-1 {
  background-color: orange;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-section-2 {
  background-color: orange;
  overflow-x: auto;
  white-space: nowrap;
  border-top-style: dashed;
}

.navbar-orange {
  background-color: orange;
}

.nav-brand {
  color: black;
  font-weight: bold;
}

.nav-link {
  margin-right: 10px;
  color: black;
  text-decoration: none;
  padding: 5px 0;
  border: 2px solid black;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
  background-color: red;
  color: white;
}

.active-nav-link {
  font-weight: bold;
  background-color: black;
  color: white !important;
  border: 2px solid white;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: white;
  background-color: black;
}

.disabled-link {
  pointer-events: none;
  cursor: not-allowed;
  text-decoration: none;
  color: black;
  opacity: 0.5;
}
