
.form-container {
  padding: 19px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: white;
}

.form-container .form-group {
  margin-bottom: 0;
  flex: 1;
  margin-right: 10px;
}

.form-container .form-group:last-child {
  margin-right: 0;
}

.card {
  border: none;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.slick-prev, .slick-next {
  color: #000;
}

.slick-prev:hover, .slick-next:hover {
  color: #000;
}

.subject-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
  height: 150px;
  transition: transform 0.2s;
}

.subject-icon {
  width: 50px;
  height: 50px;
}

.adding-style{
    border-radius: 20px;
    padding: 30px;
    background: white;
}

.styling-selectors{
  width: 100%;
  margin: 10px;
}

.box-styling{
  border-radius: 20px;
  margin: 5px;
}

/* .container-styling{
  margin-top: 6%;
  margin-bottom: 3.8%;
} */

.slick-prev:before, .slick-next:before{
  color: black;
}

.slick-initialized .slick-slide{
    border-radius: 15px;
}