input.form-control,button.btn.btn-danger.p-3,button.btn.btn-primary.p-3{
    border-radius: 100px !important;
}
.login-register-form{
    margin: auto;
}

.resize-login-icons{
    width: 40px;
    height: 40px;
}